.banner {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);

  img {
    max-width: 80vw;
  }

  h2 {
    width: 45%;
    margin: 3.25rem 0 0 0;
  }
}

@media (max-width: 640px) {
  .banner {
    min-height: 400px;

    h2 {
      width: 75%;
      font-size: 18px;
    }
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}
