.banner {
  height: 55vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);

  div {
    position: static;

    h2 {
      font-family: millenniumregular, serif;
      text-transform: lowercase;
      font-size: 60px;
      color: $white;
      line-height: 60px;
      margin-bottom: 2rem;
    }
  }

  img {
    position: absolute;
    top: 40px;
    left: 40px;
    max-width: 250px;
  }
}

.home .banner {
  height: 85vh;

  img {
    max-width: 80vw;
    margin-bottom: 2rem;
    position: static;
  }
}

@media (max-width: 640px) {
  .banner {
    min-height: 400px;

    h2 {
      width: 75%;
      font-size: 18px;
    }
  }
}

nav.nav-primary {
  position: absolute;
  top: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  ul li a {
    color: $white;
  }
}

.home nav.nav-primary {
  justify-content: center;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  padding: 2rem;
  font-family: $bold;
  transition: color 0.4s ease;

  &:hover {
    color: $bronze-light;
    transition: color 0.4s ease;
  }
}

.intro-bar {
  background: $charcoal;
  margin-top: -8rem;
  padding: 10rem 0 8rem 0;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 90%);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 90%);

  h3 {
    font-family: Pitch-Medium, serif;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: -0.05em;
    color: $white;
  }
}

img.doodle {
  position: absolute;
  top: 69vh;
  z-index: 1;
}
