.main {
  position: relative;
  padding: 3rem 0 3.25rem 0;
  text-align: left;

  h2 {
    font-family: millenniumregular, serif;
    text-transform: lowercase;
    font-size: 60px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 45px;
  }
}

.product {
  background-repeat: no-repeat;
  background-position: 110% center;
  padding: 3rem 0 10rem 0;

  @include media-breakpoint-down(md) {
    background-size: 70%;
    background-position: 120% center;
  }

  @include media-breakpoint-down(xs) {
    background: none !important;

    img {
      width: 80%;
      margin: 0 0 3rem 0;
    }
  }

  .button {
    margin: 2rem 0 0 0;
    display: inline-flex;
  }
}

section.carousel-fade {
  background: $charcoal;

  .carousel-inner {
    height: 800px;
    width: 100%;
    display: flex;

    .carousel-item {
      background-position: center center;
      background-size: cover;
    }
  }

  svg {
    width: 100%;
    height: 5rem;
    position: absolute;
    z-index: 5;

    polygon {
      fill: $white;
    }
  }

  .frame-top {
    top: 0;
  }

  .frame-bottom {
    bottom: 0;
  }
}
