.main {
  position: relative;
  padding: 7.5rem 0 3.25rem 0;
}

img.doodle {
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -37px;
}

@media (max-width: 640px) {
  img.doodle {
    top: -75px;
  }
}
