/** Typography */
@font-face {
  font-family: Pitch-Medium;
  font-display: block;
  src: url('../fonts/PitchWeb-Medium.eot');
  src:
    url('../fonts/PitchWeb-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PitchWeb-Medium.woff2') format('woff2'),
    url('../fonts/PitchWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: Pitch-Medium-Italic;
  font-display: block;
  src: url('../fonts/PitchWeb-MediumItalic.eot');
  src:
    url('../fonts/PitchWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PitchWeb-MediumItalic.woff2') format('woff2'),
    url('../fonts/PitchWeb-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: Pitch-Bold-Italic;
  font-display: block;
  src: url('../fonts/PitchWeb-BoldItalic.eot');
  src:
    url('../fonts/PitchWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PitchWeb-BoldItalic.woff2') format('woff2'),
    url('../fonts/PitchWeb-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: Pitch-Bold;
  font-display: block;
  src: url('../fonts/PitchWeb-Bold.eot');
  src:
    url('../fonts/PitchWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PitchWeb-Bold.woff2') format('woff2'),
    url('../fonts/PitchWeb-Bold.woff') format('woff');
}

body {
  background: #222720;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: Pitch-Bold-Italic, Arial, Helvetica, sans-serif;
  line-height: 14px;
}

h1,
h2,
p {
  color: #c2967b;
  font-weight: normal;
}

h3,
h4,
h5,
h6,
address {
  color: #fff;
  font-weight: normal;
}

h2 {
  font-size: 21px;
  letter-spacing: -0.4px;
}

h4 {
  font-family: Pitch-Bold, Arial, Helvetica, sans-serif;
  font-size: 17px;
}

p {
  font-size: 17px;
  margin-bottom: 1.5rem;
}
