/** Typography */
@font-face {
  font-family: Pitch-Medium;
  font-display: block;
  src: url('../fonts/PitchWeb-Medium.eot');
  src:
    url('../fonts/PitchWeb-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PitchWeb-Medium.woff2') format('woff2'),
    url('../fonts/PitchWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: Pitch-Medium-Italic;
  font-display: block;
  src: url('../fonts/PitchWeb-MediumItalic.eot');
  src:
    url('../fonts/PitchWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PitchWeb-MediumItalic.woff2') format('woff2'),
    url('../fonts/PitchWeb-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: Pitch-Bold-Italic;
  font-display: block;
  src: url('../fonts/PitchWeb-BoldItalic.eot');
  src:
    url('../fonts/PitchWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PitchWeb-BoldItalic.woff2') format('woff2'),
    url('../fonts/PitchWeb-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: Pitch-Bold;
  font-display: block;
  src: url('../fonts/PitchWeb-Bold.eot');
  src:
    url('../fonts/PitchWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PitchWeb-Bold.woff2') format('woff2'),
    url('../fonts/PitchWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'millenniumregular';
  src:
    url('../fonts/millennium-webfont.woff2') format('woff2'),
    url('../fonts/millennium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: Pitch-Bold-Italic, Arial, Helvetica, sans-serif;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
p {
  color: #c2967b;
  font-weight: normal;
}

h3,
h4,
h5,
h6,
address {
  font-weight: normal;
}

h2 {
  font-size: 21px;
  letter-spacing: -0.4px;
}

h4 {
  font-family: Pitch-Bold, Arial, Helvetica, sans-serif;
  font-size: 17px;
}

h5 {
  font-family: Pitch-Bold, Arial, Helvetica, sans-serif;
  color: $charcoal-light;
  text-transform: uppercase;
  font-size: 20px;
}

p,
li {
  font-family: Pitch-Medium, serif;
  font-size: 17px;
  margin-bottom: 1.5rem;
  line-height: 1.25;
}

ul,
ol {
  margin-bottom: 2rem;
}

li {
  margin-bottom: 1rem;
}

em {
  font-family: Pitch-Medium-Italic, serif;
}

strong {
  font-family: Pitch-Bold, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

em strong {
  font-family: Pitch-Bold-Italic, serif;
  font-weight: normal;
}

strong em {
  font-family: Pitch-Bold-Italic, serif;
  font-weight: normal;
}
