/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #c2967b
);

$charcoal-light: #525550;
$charcoal: #222720;
$charcoal-dark: #1d1f1c;
$bronze-light: #c2967b;
$bronze-medium: #98694c;
$bronze-dark: #734224;
$light-grey: #f6f6f6;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Slick Carousel items **/
$slick-loader-path: '~slick-carousel/slick/';
$slick-font-path:   '#{$slick-loader-path}fonts/';

$bold: Pitch-Bold, Arial, Helvetica, sans-serif;

$italic: Pitch-Medium-Italic, Arial, Helvetica, sans-serif;

$italic-bold: Pitch-Bold-Italic, Arial, Helvetica, sans-serif;
